<h1>會員註冊</h1>

<form method="post" action="/account_verify">
  <input type="text"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="password" name="password_confirm">
  <input type="submit" value="註冊">
</form>
